html, body, main {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

main,
footer {
    font: 20px sans-serif, Helvetica, Arial;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

h1 {
    text-align: center;
    color: #C9E4E7;
    padding: 0px;
    margin: 5px;
}

.left-container {
    display: flex;
    flex-direction: column;
    background-color: #1E1014;
    align-content: center;
}

.right-container {
    background-color: #C9E4E7;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#displayHeader {
    display: flex;
    justify-content: center;
}

.bookInfoDisplay {
    background-color: #1E1014;
    margin: 10px 0px 0px 0px;
    height: 50px;
    font-size: 20px;
    padding: 0px 20px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
button {
    display: block;
    margin: 30px auto;
    height: 30px;
    width: 80%;
    background-color: #CAFFD0;
    padding-left: 5px;
    border: 0;
    border-radius: 5px;
    outline: none;
}

input[type=text]:focus,
input[type=number]:focus {
    transform: scale(1.05);
}

input[type=submit] {
    background-color: #C9E4E7;
    border-radius: 10px;
}

input[type=submit]:hover {
    background-color: #B4A0E5;
    transform: scale(1.05);
}

label {
    display: block;
    color: #C9E4E7;
    font-size: 16px;
    text-align: center;
}

select {
    display: block;
    margin: 10px auto;
    height: 30px;
    width: 175px;
    background-color: #CAFFD0;
    padding-left: 5px;
    border: 0;
    border-radius: 5px;
    outline: none;
}

#addBook {
    font-size: 18px;
    height: 50px;
    width: 150px;
}

.statusSelector {
    height: 30px;
    width: 100px;
    margin: 10px auto;
}
.removeBook {
    padding: 0px;
    margin: 0px auto;
    font-size: 15px;
    height: 30px;
    width: 100px;
}

.removeBook:hover {
    background-color: #B4A0E5;
}

table {
    border-collapse: collapse;
    margin: 0px auto;
    width: 100%;
}

thead {
    color: #C9E4E7;
}

td {
    padding: 10px 5px 5px 5px;
    font-size: 16px;
    border-bottom: 1px solid #1E1014;
    vertical-align: middle;
    text-align: center;
}

tr:last-child td {
    border-bottom: 0px;
}

h4 {
    position: fixed;
    bottom: 0px;
    /* top: 50%; */
    /* left: 50%; */
    /* margin-top: -50px; */
    /* margin-left: -100px; */
    color: #CAFFD0;
    /* text-align: center; */
}

a:link,
a:visited {
    color: #CAFFD0;
    text-decoration: none;
}

a:hover,
a:active {
    color: #B4A0E5;
}